<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714610253859-vcc22kdcj07sh9vqfq0vqqb6mk0evbog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714610253859-vcc22kdcj07sh9vqfq0vqqb6mk0evbog</string>
	<key>API_KEY</key>
	<string>AIzaSyB_b_7dioTB_g_MIzF47-v83Migae6PGMY</string>
	<key>GCM_SENDER_ID</key>
	<string>714610253859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullah.GOOne</string>
	<key>PROJECT_ID</key>
	<string>goo1-7e73f</string>
	<key>STORAGE_BUCKET</key>
	<string>goo1-7e73f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714610253859:ios:853402c1dce1c8639e9196</string>
</dict>
</plist>